	<!-- IF $S_MICRODATA --><!-- DEFINE $MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' --><!-- ELSE --><!-- DEFINE $MICRODATA = '' --><!-- ENDIF -->
	<table class="tablebg" width="100%" cellspacing="0" style="border:1px solid #C0C0C0; *border-collapse:collapse; margin-top: 2px;">
	<tr>
		<td class="row1"><!-- IF $OVERALL_HEADER_BREADCRUMBS --><!-- EVENT overall_header_breadcrumbs_before --><!-- ENDIF -->
			<p class="breadcrumbs"><!-- IF U_SITE_HOME --><span{$MICRODATA}><a href="{U_SITE_HOME}" data-navbar-reference="home" itemprop="url"><span itemprop="title">{L_SITE_HOME}</span></a></span> <strong>&#187;</strong> <!-- ENDIF -->
			<!-- IF $OVERALL_HEADER_BREADCRUMBS --><!-- EVENT overall_header_breadcrumb_prepend --><!-- ELSE --><!-- EVENT overall_footer_breadcrumb_prepend --><!-- ENDIF --><span{$MICRODATA}><a href="{U_INDEX}" data-navbar-reference="index" itemprop="url"><span itemprop="title">{L_INDEX}</span></a></span>
			<!-- IF $OVERALL_HEADER_BREADCRUMBS --><!-- BEGIN navlinks --><!-- EVENT overall_header_navlink_prepend --> &#187; <span{$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->><a href="{navlinks.U_VIEW_FORUM}" itemprop="url"><span itemprop="title">{navlinks.FORUM_NAME}</span></a></span><!-- EVENT overall_header_navlink_append --><!-- END navlinks --><!-- ENDIF -->
			<!-- IF $OVERALL_HEADER_BREADCRUMBS --><!-- EVENT overall_header_breadcrumb_append --><!-- ELSE --><!-- EVENT overall_footer_breadcrumb_append --><!-- ENDIF --></p>
			<!-- IF $OVERALL_HEADER_BREADCRUMBS --><!-- EVENT overall_header_breadcrumbs_after --><!-- ENDIF -->
		</td>
	<!-- IF not $OVERALL_HEADER_BREADCRUMBS -->
		<td align="{S_CONTENT_FLOW_END}" class="row1">
			<p class="datetime"><!-- IF U_CONTACT_US --><a href="{U_CONTACT_US}" class="nowrap">{L_CONTACT_US}</a> | <!-- ENDIF -->
			<!-- EVENT overall_footer_teamlink_before -->
			<!-- IF U_TEAM --><a href="{U_TEAM}" class="nowrap">{L_THE_TEAM}</a> | <!-- ENDIF -->
			<!-- EVENT overall_footer_teamlink_after -->
			<!-- IF not S_IS_BOT --><!-- IF S_DISPLAY_MEMBERLIST --><a href="{U_MEMBERLIST}" class="nowrap" title="{L_MEMBERLIST_EXPLAIN}">{L_MEMBERLIST}</a> | <!-- ENDIF --><a href="{U_DELETE_COOKIES}" class="nowrap">{L_DELETE_COOKIES}</a> | <!-- ENDIF -->
			<!-- EVENT overall_footer_timezone_before -->
			<span class="nowrap">{S_TIMEZONE}</span>
			<!-- EVENT overall_footer_timezone_after --></p>
		</td>
	<!-- ENDIF -->
	</tr>
	</table>