<tr class="bigger"><td align="center" colspan="2" class="bg1" style="padding: 0 4px">
<!-- IF S_RECAPTCHA_AVAILABLE -->
	<noscript>{L_RECAPTCHA_NOSCRIPT}</noscript>
	<div class="g-recaptcha" data-sitekey="{RECAPTCHA_PUBKEY}" data-callback="phpbbRecaptchaOnSubmit" data-size="invisible"<!-- IF $CAPTCHA_TAB_INDEX --> data-tabindex="{$CAPTCHA_TAB_INDEX}"<!-- ENDIF -->></div>
<script type="text/javascript"><!--
var grc = {};

function recaptchaGetForm() {
	var set = document.getElementsByClassName('g-recaptcha');
	var el = set[set.length-1];

	while (el && el.parentNode) {
		el = el.parentNode;
		if (el.tagName && el.tagName.toLowerCase() == 'form') {
			return el;
		}
	}
	return null;
}

var submitButton = null;
var programaticallySubmitted = false;
var recaptchaForm = recaptchaGetForm();

var rcpthd1 = function() {
	submitButton = this;
};

var rcpthd2 = function(e) {
	if (!programaticallySubmitted) {
		grecaptcha.execute();
		e.preventDefault();
	}
};

grc.recaptchaOnLoad = function() {
	var input = document.querySelectorAll('input[type="submit"]');
	for (var i = 0; i < input.length; i++) {input[i].addEventListener('click', rcpthd1, false);}
	recaptchaForm.addEventListener('submit', rcpthd2, false);
}

grc.recaptchaOnSubmit = function() {
	programaticallySubmitted = true;
	if (submitButton) {
		submitButton.click();
	} else {
		if (typeof recaptchaForm.submit !== 'function') {
			recaptchaForm.submit.name = 'submit_btn';
		}
		recaptchaForm.submit();
	}
}

window.phpbbRecaptchaOnLoad = function() {
	grc.recaptchaOnLoad();
}

window.phpbbRecaptchaOnSubmit = function() {
	grc.recaptchaOnSubmit();
}
//--></script>
	<script type="text/javascript" src="{RECAPTCHA_SERVER}.js?onload=phpbbRecaptchaOnLoad&hl={L_RECAPTCHA_LANG}"></script>
<!-- ELSE -->
	<div class="error">{L_RECAPTCHA_NOT_AVAILABLE}</div>
<!-- ENDIF -->
</td></tr>