<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form name="confirm" action="{S_CONFIRM_ACTION}" method="post" onkeydown="if (window.ActiveXObject && event.keyCode==13) { return false;}">
	
	<table class="main" width="100%" cellspacing="1">
	<tr>
		<th>{MESSAGE_TITLE}</th>
	</tr>
	<tr>
		<td class="bg1" align="center">
			<br />
			<p class="gen">{MESSAGE_TEXT}</p>
			<br />

			<!-- IF not S_SHADOW_TOPICS -->
			<table width="90%" cellspacing="2">
			<!-- IF not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE -->
				<tr>
					<td align="{S_CONTENT_FLOW_END}" width="22%"><b class="gen">{L_DELETE_PERMANENTLY}{L_COLON}</b></td>
					<td align="{S_CONTENT_FLOW_BEGIN}" width="78%">
						<input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {S_CHECKED_PERMANENT} />
						<!-- IF S_TOPIC_MODE -->{DELETE_TOPIC_PERMANENTLY_EXPLAIN}<!-- ELSE -->{DELETE_POST_PERMANENTLY_EXPLAIN}<!-- ENDIF -->
					</td>
				</tr>
			<!-- ENDIF -->
				<tr valign="top">
					<td align="{S_CONTENT_FLOW_END}" rowspan="2"><b class="gen">{L_DELETE_REASON}{L_COLON}</b></td>
					<td align="{S_CONTENT_FLOW_BEGIN}"><input type="text" class="inputbox" name="delete_reason" value="" maxlength="120" size="45" /></td>
				</tr>
				<tr valign="top">
					<td align="{S_CONTENT_FLOW_BEGIN}" class="genmed">{L_DELETE_REASON_EXPLAIN}</td>
				</tr>
			</table>
			<br />
			<!-- ENDIF -->

			{S_HIDDEN_FIELDS}
			<input type="submit" name="confirm" value="{L_YES}" class="button1" /> &nbsp;<input type="submit" name="cancel" value="{L_NO}" class="button2" />
		</td>
	</tr>
	</table>
	
	</form>
	
</div>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<!-- INCLUDE overall_footer.html -->
