<!-- INCLUDE overall_header.html -->

<div id="datebar" style="margin-bottom: 4px">
	<table width="100%" cellspacing="0">
	<tr>
		<td class="genmed"><!-- IF S_USER_LOGGED_IN -->{CURRENT_TIME}<!-- ENDIF --></td>
		<td class="genmed" align="{S_CONTENT_FLOW_END}"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></td>
	</tr>
	</table>
</div>

<!-- EVENT index_body_markforums_before -->

<!-- IF not S_IS_BOT and U_MARK_FORUMS --><div align="{S_CONTENT_FLOW_END}" style="margin-bottom: 12px"><b><a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a></b></div><!-- ENDIF -->

<!-- EVENT index_body_markforums_after -->

<!-- INCLUDE forumlist_body.html -->

<!-- EVENT index_body_forumlist_body_after -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<br clear="all" />

	<form method="post" action="{S_LOGIN_ACTION}">

	<table class="main" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></td>
	</tr>
	<tr>
		<td class="bg1" align="center"><span class="genmed">{L_USERNAME}{L_COLON}</span> <input type="text" class="inputbox" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}{L_COLON}</span> <input type="password" class="inputbox" name="password" size="10" autocomplete="off" />&nbsp; <!-- IF U_SEND_PASSWORD --><a href="{U_SEND_PASSWORD}" class="nowrap">{L_FORGOT_PASS}</a>&nbsp; <!-- ENDIF --> <!-- IF S_AUTOLOGIN_ENABLED --> <span class="nowrap">{L_LOG_ME_IN} <input type="checkbox" name="autologin" /></span><!-- ENDIF -->&nbsp; <input type="submit" class="button1" name="login" value="{L_LOGIN}" /></td>
	</tr>
	</table>
	{S_LOGIN_REDIRECT}
	{S_FORM_TOKEN}
	</form>
<!-- ENDIF -->

<!-- EVENT index_body_stat_blocks_before -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />

	<table class="main" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><h4><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h4></td>
	</tr>
	<tr>
	
		<td class="bg1"<!-- IF LEGEND --> rowspan="2"<!-- ENDIF --> style="*width:46px" valign="middle" width="46"><img src="{T_THEME_PATH}/images/whosonline.gif" width="46" height="25" alt="" /></td>
		<td class="bg1" width="100%">
			<span class="genmed">
				<!-- EVENT index_body_block_online_prepend -->
				{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}
				<!-- IF LEGEND --><br /><i>{L_LEGEND} :: {LEGEND}</i></td><!-- ENDIF -->
				<!-- EVENT index_body_block_online_append -->
			</span>
		</td>
	</tr>

	</table>
<!-- ENDIF -->

<!-- EVENT index_body_birthday_block_before -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
	<br clear="all" />

	<table class="main" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><h4>{L_BIRTHDAYS}</h4></td>
	</tr>
	<tr>
		<td class="bg1" style="*width:46px" valign="middle" width="46"><img src="{T_THEME_PATH}/images/whosonline.gif" width="46" height="25" alt="" /></td>
		<td class="bg1" width="100%">
			<p class="genmed">
				<!-- EVENT index_body_block_birthday_prepend -->
				<!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON} <b><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></b><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
				<!-- EVENT index_body_block_birthday_append -->
			</p>
		</td>
	</tr>
	</table>
<!-- ENDIF -->
<br clear="all" />

<table class="main" width="100%" cellspacing="1">
<tr>
	<td class="cat" colspan="2"><h4>{L_STATISTICS}</h4></td>
</tr>
<tr>
	<td class="bg1" style="*width:46px" valign="middle" width="46"><img src="{T_THEME_PATH}/images/whosonline.gif" width="46" height="25" alt="" /></td>
	<td class="bg1" width="100%" valign="middle">
		<p class="genmed">
			<!-- EVENT index_body_block_stats_prepend -->
			{TOTAL_POSTS} | {TOTAL_TOPICS} | {TOTAL_USERS} | {NEWEST_USER}
			<!-- EVENT index_body_block_stats_append -->
		</p>
	</td>
</tr>
</table>

<!-- EVENT index_body_stat_blocks_after -->

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<!-- INCLUDE overall_footer.html -->