<!-- INCLUDE overall_header.html -->

	<table width="100%" cellspacing="0">
	<tr>
		<td class="gensmall"><div style="margin-bottom: 4px"><!-- IF S_USER_LOGGED_IN -->{CURRENT_TIME}<!-- ENDIF --></div></td>
		<td class="gensmall" align="{S_CONTENT_FLOW_END}"><div style="margin-bottom: 4px"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></div></td>
	</tr>
	</table>

<!-- EVENT index_body_markforums_before -->

<!-- IF not S_IS_BOT and U_MARK_FORUMS --><div class="nav" align="{S_CONTENT_FLOW_END}" style="margin-bottom: 12px"><a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a></div><!-- ENDIF -->

<!-- EVENT index_body_markforums_after -->

<!-- INCLUDE forumlist_body.html -->

<!-- EVENT index_body_forumlist_body_after -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<br clear="all" />

	<form method="post" action="{S_LOGIN_ACTION}">

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></td>
	</tr>
	<tr>
		<td class="row1" align="center"><span class="genmed">{L_USERNAME}{L_COLON}</span> <input class="post" type="text" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}{L_COLON}</span> <input class="post" type="password" name="password" size="10" autocomplete="off" />&nbsp; <!-- IF U_SEND_PASSWORD --><a href="{U_SEND_PASSWORD}"><SPAN class="gensmall">{L_FORGOT_PASS}</span></a>&nbsp; <!-- ENDIF --> <!-- IF S_AUTOLOGIN_ENABLED --> <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
	</tr>
	</table>
	{S_LOGIN_REDIRECT}
	{S_FORM_TOKEN}
	</form>
<!-- ENDIF -->

<!-- EVENT index_body_stat_blocks_before -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><!-- IF U_VIEWONLINE --><h4><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h4><!-- ELSE --><h4>{L_WHO_IS_ONLINE}</h4><!-- ENDIF --></td>
	</tr>
	<tr>
	
		<td class="row1"<!-- IF LEGEND --> rowspan="2"<!-- ENDIF --> align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="" /></td>
		<td class="row1" width="100%">
			<span class="genmed">
				<!-- EVENT index_body_block_online_prepend -->
				{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}
				<!-- IF LEGEND --><br /><em>{L_LEGEND} :: {LEGEND}</em></td><!-- ENDIF -->
				<!-- EVENT index_body_block_online_append -->
			</span>
		</td>
	</tr>

	</table>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><h4>{L_BIRTHDAYS}</h4></td>
	</tr>
	<tr>
		<td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="" /></td>
		<td class="row1" width="100%">
			<p class="genmed">
				<!-- EVENT index_body_block_birthday_prepend -->
				<!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON} <b><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></b><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
				<!-- EVENT index_body_block_birthday_append -->
			</p>
		</td>
	</tr>
	</table>
<!-- ENDIF -->
<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<td class="cat" colspan="2"><h4>{L_STATISTICS}</h4></td>
</tr>
<tr>
	<td class="row1"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="" /></td>
	<td class="row1" width="100%" valign="middle">
		<p class="genmed">
			<!-- EVENT index_body_block_stats_prepend -->
			{TOTAL_POSTS} | {TOTAL_TOPICS} | {TOTAL_USERS} | {NEWEST_USER}
			<!-- EVENT index_body_block_stats_append -->
		</p>
	</td>
</tr>
</table>

<!-- EVENT index_body_stat_blocks_after -->

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" /><!-- INCLUDE overall_footer.html -->