<!-- INCLUDE mcp_header.html -->

<table width="100%" cellspacing="1">
<tr>
	<td nowrap="nowrap"><b>{PAGE_NUMBER}</b> [ {TOTAL} ]</td>
	<!-- IF .pagination --><td width="100%" align="{S_CONTENT_FLOW_END}"><!-- INCLUDE pagination.html --></td><!-- ENDIF -->
</tr>
</table>

<form name="mcp" id="mcp" method="post" action="{S_MCP_ACTION}">

<table width="100%" class="main" cellspacing="1">
<tr>
	<td colspan="5" class="bg3"><!-- INCLUDE display_options.html --></td>
</tr>
<tr>
	<!-- IF S_PM -->
	<th>{L_PM}</th>
	<th width="20%">{L_TO} &amp; {L_BCC}</th>
	<!-- ELSE -->
	<th>{L_POST}</th>
	<th width="20%">{L_AUTHOR}</th>
	<!-- ENDIF -->
	<th width="15%">{L_REPORTER}</th>
	<th width="20%">{L_REPORT_TIME}</th>
	<th width="5%">{L_SELECT}</th>
</tr>
<!-- BEGIN postrow -->

	<!-- IF postrow.S_ROW_ is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
		<!-- IF S_PM -->
		<td style="padding: 4px"><!-- IF postrow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" width="14" height="18" alt="(*)" title="{L_TOTAL_ATTACHMENTS}" class="genmed" /><!-- ENDIF --><a class="topictitle" href="{postrow.U_VIEW_DETAILS}">{postrow.PM_SUBJECT}</a><br />
			<span class="genmed">{L_PM_FROM}{L_COLON} {postrow.PM_AUTHOR_FULL}</span></td>
		<td style="padding: 4px" valign="top"><span class="gen">{postrow.RECIPIENTS}</span><br />
			<span class="genmed">{L_SENT_AT}{L_COLON} {postrow.PM_TIME}</span></td>
		<!-- ELSE -->
		<td style="padding: 4px"><!-- IF postrow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" width="14" height="18" alt="(*)" title="{L_TOTAL_ATTACHMENTS}" class="genmed" /><!-- ENDIF --><a class="topictitle" href="{postrow.U_VIEWPOST}">{postrow.POST_SUBJECT}</a><br />
			<span class="genmed"><!-- IF postrow.U_VIEWFORUM -->{L_FORUM}{L_COLON} <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a><!-- ELSE -->{postrow.FORUM_NAME}<!-- ENDIF --></span></td>
		<td style="padding: 4px" valign="top"><span class="gen">{postrow.POST_AUTHOR_FULL}</span><br />
			<span class="genmed">{postrow.POST_TIME}</span></td>
		<!-- ENDIF -->
		<td style="padding: 4px" class="gen" valign="top">{postrow.REPORTER_FULL}</td>
		<td style="padding: 4px" valign="top"><span class="gen">{postrow.REPORT_TIME}</span><br />
			<span class="genmed">[ <a href="{postrow.U_VIEW_DETAILS}">{L_VIEW_DETAILS}</a> ]</span></td>
		<td align="center"><input type="checkbox" name="report_id_list[]" value="{postrow.REPORT_ID}" /></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="bg1" colspan="5" height="30" align="center" valign="middle"><span class="gen">{L_NO_POSTS}</span></td>
	</tr>
<!-- END postrow --><!-- IF .postrow -->
<tr>
	<td class="cat" colspan="5" align="center">
	<!-- IF S_CLOSED -->
		<input class="button1" type="submit" value="{L_DELETE_REPORTS}" name="action[delete]" />
	<!-- ELSE -->
		<input class="button2" type="submit" value="{L_DELETE_REPORTS}" name="action[delete]" /> &nbsp;<input class="button1" type="submit" name="action[close]" value="{L_CLOSE_REPORTS}" />
	<!-- ENDIF -->
	</td>
</tr>
<!-- ENDIF --></table>
{S_FORM_TOKEN}
</form>
<!-- IF .postrow -->
<table width="100%" cellspacing="2" align="center">
<tr>
	<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b><a href="#" onclick="marklist('mcp', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', '', false); return false;">{L_UNMARK_ALL}</a></b></td>
</tr>
</table>
<!-- ENDIF -->
<!-- INCLUDE mcp_footer.html -->
