<!-- INCLUDE mcp_header.html -->

<table width="100%" cellspacing="1" class="main">
<tr>
	<th colspan="2">{L_POST}</th>
</tr>
<tr>
	<td class="bg1" align="center">
		<table cellspacing="1">
		<tr>
			<td class="gen" align="center"><!-- IF USER_COLOR --><b style="color: #{USER_COLOR}"><!-- ELSE --><b><!-- ENDIF -->{USERNAME}</b></td>
		</tr>
		<tr>
			<td align="center"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" width="100" height="100" alt="" /><!-- ENDIF --></td>
		</tr>
		</table>
	</td>
	<td class="bg1">
		<span class="gen">{POST}</span>
	</td>
</tr>
</table>

<br clear="all" /><br />

<form method="post" name="mcp" action="{U_POST_ACTION}">

<!-- EVENT mcp_warn_post_add_warning_field_before -->

<table width="100%" cellspacing="1" class="main">
<tr>
	<th>{L_ADD_WARNING}</th>
</tr>
<tr>
	<td class="bg3" align="center"><span class="genmed">{L_ADD_WARNING_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="bg1" align="center"><textarea name="warning" rows="10" cols="76">{L_WARNING_POST_DEFAULT}</textarea></td>
</tr>
<!-- IF S_CAN_NOTIFY -->
<tr>
	<td class="bg1" align="center"><input type="checkbox" name="notify_user" checked="checked" /><span class="genmed">{L_NOTIFY_USER_WARN}</span></td>
</tr>
<!-- ENDIF -->
<tr>
	<td class="cat" align="center"><input class="button2" type="reset" value="{L_RESET}" />&nbsp; <input class="button1" type="submit" name="action[add_warning]" value="{L_SUBMIT}" /></td>
</tr>
</table>

<!-- EVENT mcp_warn_post_add_warning_field_after -->

{S_FORM_TOKEN}
</form>

<br clear="all" /><br />

<!-- INCLUDE mcp_footer.html -->
