	<!-- EVENT overall_footer_content_after -->
	<!-- EVENT overall_footer_page_body_after -->

<div align="center" class="copyright">
	<!-- IF U_ACP --><span class="genmed">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<!-- EVENT overall_footer_copyright_prepend -->
	{CREDIT_LINE}
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- EVENT overall_footer_copyright_append -->
	<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
</div><!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</td></tr></table><!-- IF S_COOKIE_NOTICE -->
<script type="text/javascript"><!--
function cookiedialogclose() {
	var d = new Date();
	d.setTime(d.getTime() + 31536000000);
	document.cookie = "cookieconsent_status=dismiss; expires="+d.toUTCString()+"; path=/";
	document.body.removeChild(document.getElementById("cookieconsentdialog"));
}
if (document.body.insertBefore && (!/cookieconsent_status=dismiss/i.test(document.cookie))) {
	var cookiesconsent = document.createElement("SPAN");
	cookiesconsent.id = "cookieconsentdialog";
	cookiesconsent.innerHTML = "<table cellspacing='0' width='100%'><tr><th class='gen' style='font-weight: normal; line-height: 150%; padding: 4px 10px' width='100%'>{LA_COOKIE_CONSENT_MSG}</th><th style='padding: 0 30px'><input class='button1' id='agreecookiesbtn' onclick='if (!document.attachEvent) { cookiedialogclose();}' style='padding: 0 4px' type='button' value='{LA_COOKIE_CONSENT_OK}' /></th></tr></table>";
	document.body.insertBefore(cookiesconsent, document.body.firstChild);

	if (document.attachEvent) { document.getElementById("agreecookiesbtn").attachEvent("onclick", cookiedialogclose);}

}
//--></script><!-- ENDIF --></body></html>