
<table class="main" width="100%" cellspacing="1">
<tr>
	<th class="nocenter">{L_PREVIEW}</th>
</tr>
<tr>
	<td class="bg1"><table width="100%" cellspacing="0"><tr><td><b>{L_POST_SUBJECT}{L_COLON}</b> {PREVIEW_SUBJECT}</td><!-- IF not S_PRIVMSGS --><td align="{S_CONTENT_FLOW_END}"><img src="{T_THEME_PATH}/images/icon_post_target.gif" width="12" height="9" alt="" /><b>{L_POSTED}{L_COLON}</b> {POST_DATE}</td><!-- ENDIF --></tr></table></td>
</tr>
<!-- IF S_HAS_POLL_OPTIONS -->
	<tr>
		<td class="bg2" colspan="2" align="center"><br clear="all" />
			<table cellspacing="0" align="center">
			<tr>
				<td align="center"><span class="gen"><b>{POLL_QUESTION}</b></span><br /><span class="genmed">{L_POLL_LENGTH}</span></td>
			</tr>
			<tr>
				<td align="center">
					<table cellspacing="0">
					<!-- BEGIN poll_option -->
						<tr>
							<td>
							<!-- IF S_IS_MULTI_CHOICE -->
								<input type="checkbox" name="vote_id" value="" />
							<!-- ELSE -->
								<input type="radio" name="vote_id" value="" />
							<!-- ENDIF -->
							</td>
							<td class="gen">{poll_option.POLL_OPTION_CAPTION}</td>
						</tr>
					<!-- END poll_option -->
					</table>
				</td>
			</tr>
			<tr>
				<td align="center" class="genmed">{L_MAX_VOTES}</td>
			</tr>
			</table>
		</td>
	</tr>
<!-- ENDIF -->
<!-- EVENT posting_preview_poll_after -->
<tr> 
	<td class="bg1">
		<table width="100%" cellspacing="0">
		<tr>
			<td><div class="postbody">{PREVIEW_MESSAGE}</div>
			<!-- IF .attachment -->
				<br />

				<table class="main" width="100%" cellspacing="1">
				<tr>
					<td class="bg3"><b class="genmed">{L_ATTACHMENTS}</b></td>
				</tr>
				<!-- BEGIN attachment -->
					<tr class="postbody">
						<td class="bg1">{attachment.DISPLAY_ATTACHMENT}</td>
					</tr>
				<!-- END attachment -->
				</table>
			<!-- ENDIF -->
			<!-- IF PREVIEW_SIGNATURE -->
				<span class="postbody"><p>_________________</p>{PREVIEW_SIGNATURE}</span>
			<!-- ENDIF -->
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>

<br clear="all" />
