<!-- INCLUDE overall_header.html -->

<form method="post" id="report" action="{S_REPORT_ACTION}">

<table class="main" width="100%" cellspacing="1">
<tr>
	<th colspan="2"><!-- IF S_REPORT_POST -->{L_REPORT_POST}<!-- ELSE -->{L_REPORT_MESSAGE}<!-- ENDIF --></th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="bg2" colspan="2" align="center"><p class="error">{ERROR}</p></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="bg3" colspan="2"><span class="genmed"><!-- IF S_REPORT_POST -->{L_REPORT_POST_EXPLAIN}<!-- ELSE -->{L_REPORT_MESSAGE_EXPLAIN}<!-- ENDIF --></span></td>
</tr>
<tr>
	<td class="bg1" width="22%"><b class="gen">{L_REASON}{L_COLON}</b></td>
	<td class="bg2" width="78%"><select name="reason_id" class="genmed">
		<!-- BEGIN reason --><option value="{reason.ID}"<!-- IF reason.S_SELECTED --> selected="selected"<!-- ENDIF -->>{reason.TITLE} &#187; {reason.DESCRIPTION}</option><!-- END reason -->
	</select></td>
</tr>
<!-- IF S_CAN_NOTIFY -->
	<tr>
		<td class="bg1"><b class="gen">{L_REPORT_NOTIFY}{L_COLON}</b><br /><span class="genmed">{L_REPORT_NOTIFY_EXPLAIN}</span></td>
		<td class="bg2"><span class="genmed"><input type="radio" name="notify" value="1"<!-- IF S_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_YES}&nbsp; <input type="radio" name="notify" value="0"<!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_NO}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="bg1" valign="top"><b class="gen">{L_MORE_INFO}{L_COLON}</b><br /><span class="genmed">{L_CAN_LEAVE_BLANK}</span></td>
	<td class="bg2"><textarea name="report_text" rows="10" cols="50">{REPORT_TEXT}</textarea></td>
</tr>
<!-- IF CAPTCHA_TEMPLATE -->
			<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->	
<tr>
	<td class="cat" colspan="2" align="center"><input type="submit" name="submit" class="button1" value="{L_SUBMIT}" />&nbsp;<input type="submit" name="cancel" class="button2" value="{L_CANCEL}" /></td>
</tr>
</table>
{S_FORM_TOKEN}
</form>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<!-- INCLUDE overall_footer.html -->
