<!-- INCLUDE ucp_header.html -->

<table class="main" width="100%" cellspacing="1">
<tr>
	<th colspan="<!-- IF not S_EDIT_DRAFT -->4<!-- ELSE -->2<!-- ENDIF -->">{L_UCP}</th>
</tr>

<!-- IF not S_EDIT_DRAFT -->

<tr>
	<td class="bg1" colspan="4" align="center"><span class="genmed">{L_DRAFTS_EXPLAIN}</span></td>
</tr>

	<!-- IF S_DRAFT_ROWS -->
	<tr>
		<th nowrap="nowrap" width="20%">{L_SAVE_DATE}</th>
		<th>{L_DRAFT_TITLE}</th>
		<th>{L_OPTIONS}</th>
		<th>{L_DELETE}</th>
	</tr>
	<!-- ENDIF -->

	<!-- BEGIN draftrow -->

		<!-- IF draftrow.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->

		<td align="center" class="genmed" style="padding: 4px">{draftrow.DATE}</td>
		<td style="padding: 4px" valign="top" width="100%">
			<p>{draftrow.DRAFT_SUBJECT}</p>
			<!-- IF draftrow.S_LINK_TOPIC --><span class="genmed">{L_TOPIC}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a></span>
			<!-- ELSEIF draftrow.S_LINK_FORUM --><span class="genmed">{L_FORUM}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a></span>
			<!-- ELSEIF draftrow.S_LINK_PM --><span class="genmed">{L_PRIVATE_MESSAGE}</span>
			<!-- ELSE --><span class="genmed">{L_NO_TOPIC_FORUM}</span><!-- ENDIF -->
		</td>
		<td style="padding: 4px" align="center" class="genmed" nowrap="nowrap"><!-- IF draftrow.U_INSERT --><a href="{draftrow.U_INSERT}">{L_LOAD_DRAFT}</a><br /><!-- ENDIF --><a href="{draftrow.U_VIEW_EDIT}">{L_VIEW_EDIT}</a></td>
		<td style="padding: 4px" align="center"><input type="checkbox" name="d[{draftrow.DRAFT_ID}]" /></td>
	</tr>
	<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="4" align="center"><b class="genmed">{L_NO_SAVED_DRAFTS}</b></td>
		</tr>
	<!-- END draftrow -->

	<!-- IF .draftrow -->
		<tr>
			<td class="cat" colspan="4" align="{S_CONTENT_FLOW_END}"><input class="button2" type="submit" name="delete" value="{L_DELETE_MARKED}" /></td>
		</tr>
	</table>
	<div align="{S_CONTENT_FLOW_END}" style="padding-top:2px"><b><a href="#" onclick="marklist('ucp', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', '', false); return false;">{L_UNMARK_ALL}</a></b></div>
	<!-- ELSE -->
	</table>
	<!-- ENDIF -->

<!-- ELSEIF S_EDIT_DRAFT -->

<!-- IF ERROR -->
	<tr>
		<td class="bg1" colspan="2" align="center"><p class="error">{ERROR}</p></td>
	</tr>
<!-- ENDIF -->

	<tr>
		<td class="bg1" width="22%"><b class="genmed">{L_SUBJECT}{L_COLON}</b></td>
		<td class="bg2" width="78%">
			<!-- EVENT posting_editor_subject_prepend -->
			<input style="width:450px" type="text" class="inputbox" name="subject" size="45" maxlength="<!-- IF S_NEW_MESSAGE -->120<!-- ELSE -->124<!-- ENDIF -->" tabindex="2" value="{DRAFT_SUBJECT}" />
			<!-- EVENT posting_editor_subject_append -->
		</td>
	</tr>
	<tr valign="top"> 
		<td class="bg1">
			<b class="genmed">{L_MESSAGE}{L_COLON} </b><br /><span class="genmed">{L_EDIT_DRAFT_EXPLAIN}</span>
		</td>
		<td class="bg2">
			<!-- INCLUDE posting_editor.html -->
		</td>
	</tr>
	<tr class="bg1">
		<td colspan="2"><p class="genmed"><b><a href="{S_UCP_ACTION}">{L_BACK_TO_DRAFTS}</a></b></p></td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="button2" type="reset" value="{L_RESET}" name="reset" />&nbsp; <input class="button1" type="submit" name="submit" value="{L_SAVE}" /></td>
	</tr>
</table>
<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->