<!-- INCLUDE ucp_header.html -->
<!-- IF MODE == 'notification_options' -->
	<table width="100%" class="main" cellspacing="1">
	<tr>
		<th colspan="{NOTIFICATION_TYPES_COLS}">{TITLE}</th>
	</tr>
	<tr>
		<td class="bg1" colspan="{NOTIFICATION_TYPES_COLS}" align="center"><span class="genmed">{TITLE_EXPLAIN}</span></td>
	</tr>
	<tr>
		<th>{L_NOTIFICATION_TYPE}</th>
		<!-- BEGIN notification_methods -->
			<th width="10%">{notification_methods.NAME}</th>
		<!-- END notification_methods -->
	</tr>

	<!-- BEGIN notification_types -->
		<!-- IF notification_types.GROUP_NAME -->
			<tr>
				<td class="bg3" colspan="{NOTIFICATION_TYPES_COLS}"><span class="genmed">{notification_types.GROUP_NAME}</span></td>
			</tr>
		<!-- ELSE -->
			<!-- IF notification_types.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
				<td>
					<span class="genmed">{notification_types.NAME}
</span>					<!-- IF notification_types.EXPLAIN --><br /><span class="genmed">&nbsp; &nbsp;{notification_types.EXPLAIN}</span><!-- ENDIF -->
				</td>
				<!-- BEGIN notification_methods -->
					<td align="center"><input type="checkbox" name="{notification_types.TYPE}_{notification_methods.METHOD}"<!-- IF notification_methods.SUBSCRIBED --> checked="checked"<!-- ENDIF --> /></td>
				<!-- END notification_methods -->
			</tr>
		<!-- ENDIF -->
	<!-- END notification_types -->
	<tr>
		<td class="cat" colspan="{NOTIFICATION_TYPES_COLS}" align="center">
			<input type="hidden" name="form_time" value="{FORM_TIME}" />
			{S_HIDDEN_FIELDS}
			<input class="button2" type="reset" value="{L_RESET}" name="reset" />&nbsp; <input class="button1" type="submit" name="submit" value="{L_SUBMIT}" />
			{S_FORM_TOKEN}
		</td>
	</tr>
	</table>
<!-- ELSE -->
	<table cellspacing="1" width="100%">
		<tr>
			<!-- IF TOTAL_COUNT -->
				<td nowrap="nowrap"><b>{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_COUNT} {L_NOTIFICATIONS}]</td>
			<!-- ENDIF -->
			<td align="{S_CONTENT_FLOW_END}"><!-- IF U_MARK_ALL and .notifications --><b><a href="{U_MARK_ALL}">{L_NOTIFICATIONS_MARK_ALL_READ}</a></b><!-- IF .pagination --> | <!-- ENDIF --><!-- ENDIF --><!-- INCLUDE pagination.html --></td>
		</tr>
	</table>

	<div>
		<table cellspacing="1" class="main" width="100%">
			<tr>
				<th>{L_NOTIFICATIONS}</th>
				<th width="15%">{L_MARK_READ}</th>
			</tr>
			<!-- BEGIN notification_list -->
				<tr class="<!-- IF notification_list.UNREAD -->bg3<!-- ELSE -->bg1<!-- ENDIF -->">
					<td valign="top">
						<p class="forumdesc"><!-- IF notification_list.UNREAD --><b>&#187; </b><!-- ENDIF -->
						<!-- IF notification_list.URL --><a href="<!-- IF notification_list.UNREAD -->{notification_list.U_MARK_READ}<!-- ELSE -->{notification_list.URL}<!-- ENDIF -->">
						{notification_list.FORMATTED_TITLE}<!-- IF notification_list.REFERENCE --> {notification_list.REFERENCE}<!-- ENDIF -->
						</a><!-- ELSE -->{notification_list.FORMATTED_TITLE}<!-- IF notification_list.REFERENCE --> {notification_list.REFERENCE}<!-- ENDIF -->
						<!-- ENDIF --><br />
						<!-- IF notification_list.FORUM -->{notification_list.FORUM}<br /><!-- ENDIF -->
						<!-- IF notification_list.REASON -->{notification_list.REASON}<br /><!-- ENDIF -->
							<span class="small">{notification_list.TIME}</span>
						</p>
					</td>
					<td align="center">
						<input type="checkbox" name="mark[]" value="{notification_list.NOTIFICATION_ID}"<!-- IF not notification_list.UNREAD --> disabled="disabled"<!-- ENDIF --> />
					</td>
				</tr>
			<!-- END notification_list -->
			<tr>
				<td class="cat" colspan="2" align="{S_CONTENT_FLOW_END}">
				<!-- IF .notification_list -->
					<input type="hidden" name="form_time" value="{FORM_TIME}" />
					{S_HIDDEN_FIELDS}
					<input class="button1" type="submit" name="submit" value="{L_MARK_READ}" />
					{S_FORM_TOKEN}
				<!-- ELSE -->
					<b class="genmed">{L_NO_NOTIFICATIONS}</b>
				<!-- ENDIF -->
				</td>
			</tr>
		</table>
	</div>

	<!-- IF .pagination -->
		<div align="{S_CONTENT_FLOW_END}" style="padding-top: 2px"><!-- INCLUDE pagination.html --></div>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF .notifications or MODE == 'notification_options' -->
<div align="{S_CONTENT_FLOW_END}"<!-- IF .pagination --> style="padding-top: 4px"<!-- ENDIF -->><b><a href="#" onclick="marklist('ucp', '<!-- IF MODE == 'notification_options' -->notification.type<!-- ELSE -->mark[]<!-- ENDIF -->', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', '<!-- IF MODE == 'notification_options' -->notification.type<!-- ELSE -->mark[]<!-- ENDIF -->', false); return false;">{L_UNMARK_ALL}</a></b></div>
<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->
