<!-- INCLUDE overall_header.html -->
<!-- IF S_FORUM_RULES -->

	<div class="forumrules">
	<h3 class="forumrules">{L_FORUM_RULES}</h3>	<!-- IF U_FORUM_RULES -->
	<a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
	<!-- ELSE -->
	{FORUM_RULES}
	<!-- ENDIF -->
	</div>


<!-- ENDIF -->

<!-- IF S_DISPLAY_ACTIVE -->
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><span class="nav">{L_ACTIVE_TOPICS}</span></td>
	</tr>

	<tr>
		<!-- IF S_TOPIC_ICONS -->
			<th colspan="3">&nbsp;{L_TOPICS}&nbsp;</th>
		<!-- ELSE -->
			<th colspan="2">&nbsp;{L_TOPICS}&nbsp;</th>
		<!-- ENDIF -->
		<th>&nbsp;{L_AUTHOR}&nbsp;</th>
		<th>&nbsp;{L_REPLIES}&nbsp;</th>
		<th>&nbsp;{L_VIEWS}&nbsp;</th>
		<th nowrap="nowrap">&nbsp;{L_LAST_POST}&nbsp;</th>
	</tr>

	<!-- EVENT viewforum_body_topic_row_before -->

	<!-- BEGIN topicrow -->

		<!-- EVENT viewforum_body_topicrow_row_before -->
		<tr>
			<!-- EVENT viewforum_body_topic_row_prepend -->
			<td class="row1" width="25" align="center" style="*width:auto"><!-- IF topicrow.S_UNREAD_TOPIC --><b><font color=#FF8000>{L_UNREAD_POSTS}</font></b><!-- ELSE --><!-- IF topicrow.S_TOPIC_LOCKED -->{L_TOPIC_LOCKED_SHORT}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF --><!-- ENDIF --></td>
			<!-- IF S_TOPIC_ICONS -->
				<td class="row1" width="25" align="center" style="*width:auto"><!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}" height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title="" /><!-- ENDIF --></td>
			<!-- ENDIF -->
			<td class="row1" style="*width:100%">
				<!-- EVENT topiclist_row_prepend -->
				<!-- IF topicrow.S_UNREAD_TOPIC --><a title="{L_VIEW_NEWEST_POST}" href="{topicrow.U_NEWEST_POST}" class="normal"><img src="{T_THEME_PATH}/images/icon_topic_newest.gif" alt=">>>" title="{L_VIEW_NEWEST_POST}"></a><!-- ENDIF -->
				<!-- IF topicrow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" alt="({L_TOTAL_ATTACHMENTS})" title="{L_TOTAL_ATTACHMENTS}" class="normal"><!-- ENDIF --><!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><span class="nav">{topicrow.TOPIC_TYPE} </span><!-- ENDIF --><a title="{L_POSTED}{L_COLON} {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
				<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
					<a title="<!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF -->" href="{topicrow.U_MCP_QUEUE}"><img src="{T_THEME_PATH}/images/icon_topic_unapproved.gif" alt="(?)" title="<!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF -->" class="normal"></a>&nbsp;
				<!-- ENDIF -->
				<!-- IF topicrow.S_TOPIC_DELETED -->
					<a title="{L_TOPIC_DELETED}" href="{topicrow.U_MCP_QUEUE}"><img src="{T_THEME_PATH}/images/icon_topic_deleted.gif" alt="(X)" title="{L_TOPIC_DELETED}" class="normal"></a>&nbsp;
				<!-- ENDIF -->
				<!-- IF topicrow.S_TOPIC_REPORTED -->
					<a title="{L_TOPIC_REPORTED}" href="{topicrow.U_MCP_REPORT}"><img src="{T_THEME_PATH}/images/icon_topic_reported.gif" alt="(!)" title="{L_TOPIC_REPORTED}" class="normal"></a>&nbsp;
				<!-- ENDIF -->
				<!-- EVENT topiclist_row_topic_title_after -->
				<!-- IF .topicrow.pagination -->
					<p class="gensmall"> [ <img src="{T_THEME_PATH}/images/icon_post_target.gif" alt="">{L_GOTO_PAGE}{L_COLON}
					<!-- BEGIN pagination -->
						<!-- IF topicrow.pagination.S_IS_PREV -->
						<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><strong>{topicrow.pagination.PAGE_NUMBER}</strong>
						<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --> {L_ELLIPSIS}
						<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
						<!-- ELSE --><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a>
						<!-- ENDIF -->
					<!-- END pagination -->
					] </p>
				<!-- ENDIF -->
				<!-- EVENT topiclist_row_append -->
			</td>
			<td class="row2" width="130" align="center" style="*width:auto"><p class="topicauthor">{topicrow.TOPIC_AUTHOR_FULL}</p></td>
			<td class="row1" width="50" align="center" style="*width:auto"><p class="topicdetails">{topicrow.REPLIES}</p></td>
			<td class="row2" width="50" align="center" style="*width:auto"><p class="topicdetails">{topicrow.VIEWS}</p></td>
			<td class="row1" width="140" align="center" style="*width:auto">
				<p class="topicdetails" style="white-space: nowrap">{topicrow.LAST_POST_TIME}</p>
				<p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a title="{L_VIEW_LATEST_POST}" href="{topicrow.U_LAST_POST}"><img src="{T_THEME_PATH}/images/icon_topic_latest.gif" alt=">" title="{L_VIEW_LATEST_POST}"></a><!-- ENDIF -->
				</p>
			</td>
			<!-- EVENT viewforum_body_topic_row_append -->
		</tr>
		<!-- EVENT viewforum_body_topic_row_after -->

	<!-- BEGINELSE -->

		<tr>
			<!-- IF S_TOPIC_ICONS -->
				<td class="row1" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
			<!-- ELSE -->
				<td class="row1" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
			<!-- ENDIF -->
		</tr>
	<!-- END topicrow -->

	<tr align="center">
		<td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->">&nbsp;</td>
	</tr>
	</table>

	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- INCLUDE forumlist_body.html -->
	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE or S_NO_READ_ACCESS -->
	<div id="pageheader" style="margin-bottom:24px;">
		<!-- EVENT viewforum_forum_title_before -->
		<h2<!-- IF not S_HAS_SUBFORUM --> style="margin-top: 4px"<!-- ENDIF -->

><!-- EVENT viewforum_forum_name_prepend --><a class="titles" href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- EVENT viewforum_forum_name_append --></h2>
		<!-- EVENT viewforum_forum_title_after -->
		<!-- IF MODERATORS -->
			<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON} {MODERATORS}</p>
		<!-- ENDIF -->
		<!-- IF U_MCP -->
			<p class="linkmcp">[&nbsp;<!-- IF U_ACP --><a href="{U_ACP}">{L_ACP}</a><!-- IF U_MCP -->&nbsp;|&nbsp;<!-- ENDIF --><!-- ENDIF --><!-- IF U_MCP --><a href="{U_MCP}">{L_MCP}</a><!-- ENDIF -->&nbsp;]</p>
		<!-- ENDIF -->
	</div>


	

<!-- ENDIF -->

<div id="pagecontent">

<!-- IF S_NO_READ_ACCESS -->
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row1" height="30" align="center" valign="middle"><span class="gen">{L_NO_READ_ACCESS}</span></td>
	</tr>
	</table>

	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

		<br /><br />

		<form method="post" action="{S_LOGIN_ACTION}">

		<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></td>
		</tr>
		<tr>
			<td class="row1" align="center"><span class="genmed">{L_USERNAME}{L_COLON}</span> <input class="post" type="text" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}{L_COLON}</span> <input class="post" type="password" name="password" size="10" autocomplete="off" /><!-- IF S_AUTOLOGIN_ENABLED -->&nbsp; <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
		</tr>
		</table>
		{S_LOGIN_REDIRECT}
		</form>

	<!-- ENDIF -->

	<br clear="all" />
<!-- ENDIF -->

	<!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
		<table width="100%" cellspacing="1">
		<tr>
			<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle" nowrap="nowrap">
			<!-- EVENT viewforum_buttons_top_before -->

			<!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
				<a title="<!-- IF S_IS_LOCKED -->{L_POST_FORUM_LOCKED}<!-- ELSE -->{L_POST_NEW_TOPIC}<!-- ENDIF -->" href="{U_POST_NEW_TOPIC}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/button_topic_<!-- IF S_IS_LOCKED -->locked<!-- ELSE -->new<!-- ENDIF -->.gif" alt="[<!-- IF S_IS_LOCKED -->{L_POST_FORUM_LOCKED}<!-- ELSE -->{L_POST_NEW_TOPIC}<!-- ENDIF -->]" title="<!-- IF S_IS_LOCKED -->{L_POST_FORUM_LOCKED}<!-- ELSE -->{L_POST_NEW_TOPIC}<!-- ENDIF -->" class="normal"></a>
			<!-- ENDIF -->

			<!-- EVENT viewforum_buttons_top_after -->
			</td>

			<!-- IF TOTAL_TOPICS -->
				<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
				<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_TOPICS} ]&nbsp;</td>
				<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
			<!-- ENDIF -->
		</tr>
		</table>
	<!-- ENDIF -->

	<!-- IF not S_DISPLAY_ACTIVE and (S_IS_POSTABLE or .topicrow) -->
		<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->">
				<table width="100%" cellspacing="0">
				<tr class="nav">
					<td><!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF --></td>
					<td align="{S_CONTENT_FLOW_END}" valign="middle"><!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT --><a href="{U_WATCH_FORUM_LINK}">{S_WATCH_FORUM_TITLE}</a><!-- ENDIF --><!-- IF not S_IS_BOT and U_MARK_TOPICS and .topicrow --> | <a href="{U_MARK_TOPICS}">{L_MARK_TOPICS_READ}</a><!-- ENDIF -->&nbsp;</td>
				</tr>
				</table>
			</td>
		</tr>

		<tr>
			<!-- IF S_TOPIC_ICONS -->
				<th colspan="3">&nbsp;{L_TOPICS}&nbsp;</th>
			<!-- ELSE -->
				<th colspan="2">&nbsp;{L_TOPICS}&nbsp;</th>
			<!-- ENDIF -->
			<th>&nbsp;{L_AUTHOR}&nbsp;</th>
			<th>&nbsp;{L_REPLIES}&nbsp;</th>
			<th>&nbsp;{L_VIEWS}&nbsp;</th>
			<th nowrap="nowrap">&nbsp;{L_LAST_POST}&nbsp;</th>
		</tr>

		<!-- BEGIN topicrow -->

			<!-- IF topicrow.S_TOPIC_TYPE_SWITCH eq 1 -->
				<tr>
					<td class="row3" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><b class="gensmall">{L_ANNOUNCEMENTS}</b></td>
				</tr>
			<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH eq 0 -->
				<tr>
					<td class="row3" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><b class="gensmall">{L_TOPICS}</b></td>
				</tr>
			<!-- ENDIF -->

			<tr>
				<td class="row1" width="25" align="center" style="*width:auto"><!-- IF topicrow.S_UNREAD_TOPIC and not topicrow.S_TOPIC_MOVED --><a title="{L_UNREAD_POSTS}" href="{topicrow.U_NEWEST_POST}"><!-- ENDIF --><img src="{T_THEME_PATH}/images/{topicrow.TOPIC_IMG_STYLE}.gif" alt="<!-- IF topicrow.S_UNREAD_TOPIC -->{L_UNREAD_POSTS}<!-- ELSEIF topicrow.S_TOPIC_LOCKED -->{L_TOPIC_LOCKED_SHORT}<!-- ENDIF --><!-- IF topicrow.S_TOPIC_TYPE eq 1 --> ({L_POST_STICKY}) <!-- ENDIF -->" title="{topicrow.TOPIC_FOLDER_IMG_ALT}" class="normal"><!-- IF topicrow.S_UNREAD_TOPIC and not topicrow.S_TOPIC_MOVED --></a><!-- ENDIF --></td>
				<!-- IF S_TOPIC_ICONS -->
					<td class="row1" width="25" align="center" style="*width:auto"><!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}" height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title="" /><!-- ENDIF --></td>
				<!-- ENDIF -->
				<td class="row1" style="*width:100%">
					<!-- EVENT topiclist_row_prepend -->
				<!-- IF topicrow.S_UNREAD_TOPIC --><a title="{L_VIEW_NEWEST_POST}" href="{topicrow.U_NEWEST_POST}" class="normal"><img src="{T_THEME_PATH}/images/icon_topic_newest.gif" alt=">>>" title="{L_VIEW_NEWEST_POST}"></a><!-- ENDIF -->
				<!-- IF topicrow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" alt="({L_TOTAL_ATTACHMENTS})" title="{L_TOTAL_ATTACHMENTS}" class="normal"><!-- ENDIF --><!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><span class="nav">{topicrow.TOPIC_TYPE} </span><!-- ENDIF --><a title="{L_POSTED}{L_COLON} {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
						<a title="<!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF -->" href="{topicrow.U_MCP_QUEUE}"><img src="{T_THEME_PATH}/images/icon_topic_unapproved.gif" alt="(?)" title="<!-- IF topicrow.S_TOPIC_UNAPPROVED -->{L_TOPIC_UNAPPROVED}<!-- ELSE -->{L_POSTS_UNAPPROVED}<!-- ENDIF -->" class="normal"></a>&nbsp;
					<!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_DELETED -->
						<a title="{L_TOPIC_DELETED}" href="{topicrow.U_MCP_QUEUE}"><img src="{T_THEME_PATH}/images/icon_topic_deleted.gif" alt="(X)" title="{L_TOPIC_DELETED}" class="normal"></a>&nbsp;
					<!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED -->
						<a title="{L_TOPIC_REPORTED}" href="{topicrow.U_MCP_REPORT}"><img src="{T_THEME_PATH}/images/icon_topic_reported.gif" alt="(!)" title="{L_TOPIC_REPORTED}" class="normal"></a>&nbsp;
					<!-- ENDIF -->
					<!-- IF .topicrow.pagination -->
						<p class="gensmall"> [ <img src="{T_THEME_PATH}/images/icon_post_target.gif" alt="">{L_GOTO_PAGE}{L_COLON}
						<!-- BEGIN pagination -->
							<!-- IF topicrow.pagination.S_IS_PREV -->
							<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><strong>{topicrow.pagination.PAGE_NUMBER}</strong>
							<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --> {L_ELLIPSIS}
							<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
							<!-- ELSE --><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a>
							<!-- ENDIF -->
						<!-- END pagination -->
						] </p>
					<!-- ENDIF -->
					<!-- IF topicrow.S_POST_GLOBAL and FORUM_ID != topicrow.FORUM_ID --><p class="gensmall">{L_IN} <a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a></p><!-- ENDIF -->
					<!-- EVENT topiclist_row_append -->
				</td>
				<td class="row2" width="130" align="center" style="*width:auto"><p class="topicauthor">{topicrow.TOPIC_AUTHOR_FULL}</p></td>
				<td class="row1" width="50" align="center" style="*width:auto"><p class="topicdetails">{topicrow.REPLIES}</p></td>
				<td class="row2" width="50" align="center" style="*width:auto"><p class="topicdetails">{topicrow.VIEWS}</p></td>
				<td class="row1" width="140" align="center" style="*width:auto">
					<p class="topicdetails" style="white-space: nowrap;">{topicrow.LAST_POST_TIME}</p>
					<p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
						<!-- IF not S_IS_BOT --><a title="{L_VIEW_LATEST_POST}" href="{topicrow.U_LAST_POST}"><img src="{T_THEME_PATH}/images/icon_topic_latest.gif" alt=">" title="{L_VIEW_LATEST_POST}"></a>
<!-- ENDIF -->
					</p>
				</td>
			</tr>

	<!-- IF topicrow.S_NUM_ROWS < 4 --><!-- DEFINE $DISPLAYOPTIONS = 1 --><!-- ENDIF -->	<!-- BEGINELSE -->
			<!-- IF S_IS_POSTABLE -->
			<tr>
				<!-- IF S_TOPIC_ICONS -->
					<td class="row1" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
				<!-- ELSE -->
					<td class="row1" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
				<!-- ENDIF -->
			</tr>
			<!-- ENDIF -->
		<!-- END topicrow -->

		<!-- IF not S_IS_BOT -->
		<tr>
			<td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"<!-- IF $DISPLAYOPTIONS eq 1 and not S_HAS_SUBFORUM --> id="displayoptions"<!-- ENDIF -->>
					<form method="post" action="{S_FORUM_ACTION}" style="text-align:center"><span class="genmed">{L_DISPLAY_TOPICS}{L_COLON}</span>&nbsp;{S_SELECT_SORT_DAYS}&nbsp;<span class="genmed">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /></form>
				</td>
		</tr>
		<!-- ENDIF -->
		</table>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
		<table width="100%" cellspacing="1">
		<tr>
			<td align="{S_CONTENT_FLOW_BEGIN}" valign="middle" nowrap="nowrap">
			<!-- EVENT viewforum_buttons_bottom_before -->

			<!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
				<a title="<!-- IF S_IS_LOCKED -->{L_POST_FORUM_LOCKED}<!-- ELSE -->{L_POST_NEW_TOPIC}<!-- ENDIF -->" href="{U_POST_NEW_TOPIC}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/button_topic_<!-- IF S_IS_LOCKED -->locked<!-- ELSE -->new<!-- ENDIF -->.gif" alt="[<!-- IF S_IS_LOCKED -->{L_POST_FORUM_LOCKED}<!-- ELSE -->{L_POST_NEW_TOPIC}<!-- ENDIF -->]" title="<!-- IF S_IS_LOCKED -->{L_POST_FORUM_LOCKED}<!-- ELSE -->{L_POST_NEW_TOPIC}<!-- ENDIF -->" class="normal"></a>
			<!-- ENDIF -->

			<!-- EVENT viewforum_buttons_bottom_after -->
			</td>

			<!-- IF TOTAL_TOPICS -->
				<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
				<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_TOPICS} ]&nbsp;</td>
				<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
			<!-- ENDIF -->
		</tr>
		</table>
	<!-- ENDIF -->

		<br clear="all" />
</div>

<!-- INCLUDE breadcrumbs.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
	</tr>
	</table>
<!-- ENDIF --><!-- IF S_DISPLAY_POST_INFO -->
	<br clear="all" />	<h4>{L_FORUM_PERMISSIONS}</h4> <span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span><!-- ENDIF -->

<br clear="all" />

<table width="100%" cellspacing="0">
<tr>	<td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></td>
</tr>
</table>

<!-- INCLUDE overall_footer.html -->
