<!-- INCLUDE overall_header.html -->

<!-- IF S_FORUM_RULES -->

	<div class="forumrules">
	<h3 class="forumrules">{L_FORUM_RULES}</h3>	<!-- IF U_FORUM_RULES -->
	<a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
	<!-- ELSE -->
	{FORUM_RULES}
	<!-- ENDIF -->
	</div>

<!-- ENDIF -->

<div id="pageheader" style="margin-bottom:3px; *margin-bottom:auto;">
	<h2 style="margin-top: 10px; *margin-bottom: 4px"><!-- EVENT viewtopic_topic_title_prepend --><a class="titles" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- EVENT viewtopic_topic_title_append --></h2>
	<!-- EVENT viewtopic_topic_title_after --></div>

<div id="pagecontent">

	<table width="100%" cellspacing="1">
	<!-- IF MODERATORS -->
	<tr>
		<td class="genmed" colspan="3"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON} {MODERATORS}</td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="genmed" id="buttons_top_side" nowrap="nowrap" valign="bottom">

		<!-- IF (U_WATCH_TOPIC or U_BOOKMARK_TOPIC or U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC or S_DISPLAY_TOPIC_TOOLS) and not S_IS_BOT -->
			<div id="topictools_top_list" style="background-color: #FFFFFF; border: 2px solid #808080; display: none; line-height: 180%; margin-top: 27px; padding: 0 4px; position: absolute; z-index: 1">
				<!-- EVENT viewtopic_topic_tools_before -->
					<!-- IF U_WATCH_TOPIC --><div class="block"><a href="{U_WATCH_TOPIC}">{S_WATCH_TOPIC_TITLE}</a></div><!-- ENDIF -->
					<!-- IF U_BOOKMARK_TOPIC --><div class="block"><a href="{U_BOOKMARK_TOPIC}">{S_BOOKMARK_TOPIC}</a></div><!-- ENDIF -->
					<!-- IF U_PRINT_TOPIC --><div class="block"><a href="{U_PRINT_TOPIC}">{L_PRINT_TOPIC}</a></div><!-- ENDIF -->
					<!-- IF U_EMAIL_TOPIC --><div class="block"><a href="{U_EMAIL_TOPIC}">{L_EMAIL_TOPIC}</a></div><!-- ENDIF -->
					<!-- IF U_BUMP_TOPIC --><div class="block"><a href="{U_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></div><!-- ENDIF -->
				<!-- EVENT viewtopic_topic_tools_after -->
			</div>
		<!-- ENDIF -->

		<!-- EVENT viewtopic_buttons_top_before -->

		<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
			<a title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->" href="{U_POST_REPLY_TOPIC}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/button_topic_<!-- IF S_IS_LOCKED -->locked<!-- ELSE -->reply<!-- ENDIF -->.gif" width="97" height="27" alt="[<!-- IF S_IS_LOCKED -->{L_BUTTON_TOPIC_LOCKED}<!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF -->]" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"></a>
		<!-- ENDIF -->

		<!-- EVENT viewtopic_buttons_top_after -->

		<!-- IF (U_WATCH_TOPIC or U_BOOKMARK_TOPIC or U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC or S_DISPLAY_TOPIC_TOOLS) and not S_IS_BOT -->
			<a href="#" class="quicktools" id="topictools_top_link" title="" onclick="return false;"><img src="{T_THEME_PATH}/images/button_topic_tools.gif" width="36" height="27" alt="[*]" title=""></a>
		<!-- ENDIF -->

		<!-- EVENT viewtopic_dropdown_top_custom -->

		</td>

		<td class="gensmall" nowrap="nowrap" valign="middle"><!-- IF TOTAL_POSTS --><b>&nbsp;{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_POSTS} ]&nbsp;<!-- ENDIF --></td>
		<td align="{S_CONTENT_FLOW_END}" class="gensmall" style="line-height: 220%" valign="bottom" width="100%"><!-- IF U_VIEW_UNREAD_POST --><b><a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a></b><!-- IF .pagination --> | <!-- ENDIF --><!-- ENDIF --><!-- INCLUDE pagination.html --><!-- EVENT viewtopic_body_pagination_top_after --></td>
	</tr>

<!-- IF (U_WATCH_TOPIC or U_BOOKMARK_TOPIC or U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC or S_DISPLAY_TOPIC_TOOLS) and not S_IS_BOT -->
	<tr class="quick_links_hidden">	

<script>
if (typeof LegacyDropDownMenus !== 'undefined') { var ttl=document.getElementById('topictools_top_list'); ttl.onclick = function(e) { if (e) { e.stopPropagation(); } else { window.event.cancelBubble = true; } };

		document.getElementById('topictools_top_link').onclick = function(e) { if (e) { e.stopPropagation(); } else { window.event.cancelBubble = true; } if (typeof qkl !== 'undefined') {qkl.style.display='none'}; if (typeof nfl !== 'undefined') {nfl.style.display='none'}; if (typeof usl !== 'undefined') {usl.style.display='none'}; var tts = ttl.style.display != 'none'; ttl.style.display = tts ? 'none' : 'inline'; 

		if (ttl.style.display != 'none') {
			for (i=0 ; i<ttl.getElementsByTagName('a').length ; i++) {	var LinkWidth = ttl.getElementsByTagName('a')[i].offsetWidth;	if (i==0) { var LinkWidest = LinkWidth } else if (LinkWidth>LinkWidest) { LinkWidest=LinkWidth }}	ttl.style.width = LinkWidest+8+"px";
			var ButtonsTopSideWidth = document.getElementById('buttons_top_side').offsetWidth; if (document.body.className == "ltr") { ttl.style.marginLeft = ButtonsTopSideWidth-(document.getElementById('topictools_top_link').offsetWidth+5)+"px";} else { ttl.style.marginRight = ButtonsTopSideWidth-(document.getElementById('topictools_top_link').offsetWidth+5)+"px";}
			if (typeof iFrameFix !== 'undefined') {	ttl.appendChild(iFrameFix); iFrameFix.style.height=ttl.offsetHeight+"px"; iFrameFix.style.width=ttl.offsetWidth+"px";}
		};

	return false;
	};

}
</script>

		<td class="bigger" colspan="3">
			<!-- IF U_WATCH_TOPIC -->[<a href="{U_WATCH_TOPIC}" class="nowrap">{S_WATCH_TOPIC_TITLE}</a>]<!-- ENDIF -->
			<!-- IF U_BOOKMARK_TOPIC -->[<a href="{U_BOOKMARK_TOPIC}" class="nowrap">{S_BOOKMARK_TOPIC}</a>]<!-- ENDIF -->
			<!-- IF U_PRINT_TOPIC -->[<a href="{U_PRINT_TOPIC}" class="nowrap">{L_PRINT_TOPIC}</a>]<!-- ENDIF -->
			<!-- IF U_EMAIL_TOPIC -->[<a href="{U_EMAIL_TOPIC}" class="nowrap">{L_EMAIL_TOPIC}</a>]<!-- ENDIF -->
			<!-- IF U_BUMP_TOPIC -->[<a href="{U_BUMP_TOPIC}" class="nowrap">{L_BUMP_TOPIC}</a>]<!-- ENDIF -->
		</td>
	</tr>
<!-- ENDIF -->
	</table>

	<table class="tablebg" width="100%" cellspacing="1">
	<!-- EVENT viewtopic_body_poll_before -->
<!-- IF S_HAS_POLL -->
	<tr>
		<td class="row2" colspan="2" align="center"><br clear="all" />

			<form method="post" action="{S_POLL_ACTION}">

			<table cellspacing="0" cellpadding="4" border="0" align="center">
			<tr>
				<td align="center"><span class="gen"><!-- EVENT viewtopic_body_poll_question_prepend --><b>{POLL_QUESTION}</b><!-- EVENT viewtopic_body_poll_question_append --></span><br /><span class="gensmall">{L_POLL_LENGTH}</span></td>
			</tr>
			<tr>
				<td align="{S_CONTENT_FLOW_BEGIN}">
					<table cellspacing="0" cellpadding="2" border="0">
				<!-- BEGIN poll_option -->
					<tr>
					<!-- EVENT viewtopic_body_poll_option_before -->
					<!-- IF S_CAN_VOTE -->
						<td<!-- IF poll_option.POLL_OPTION_MOST_VOTES --> class="most-votes"<!-- ENDIF -->>
							<!-- IF S_IS_MULTI_CHOICE -->
								<input type="checkbox" class="radio" name="vote_id[]" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
							<!-- ELSE -->
								<input type="radio" class="radio" name="vote_id[]" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> />
							<!-- ENDIF -->
						</td>
					<!-- ENDIF -->
						<td class="gen">{poll_option.POLL_OPTION_CAPTION}</td>
						<!-- IF S_DISPLAY_RESULTS -->
							<td class="gen" align="{S_CONTENT_FLOW_END}"><b>&nbsp;{poll_option.POLL_OPTION_PERCENT}&nbsp;</b></td>
							<td class="gen" align="center">[ {poll_option.POLL_OPTION_RESULT} ]</td>
							<!-- IF poll_option.POLL_OPTION_VOTED -->
								<td class="gensmall" valign="top"><b title="{L_POLL_VOTED_OPTION}">x</b></td>
							<!-- ENDIF -->
						<!-- ENDIF -->
					<!-- EVENT viewtopic_body_poll_option_after -->
					</tr>
				<!-- END poll_option -->
					</table>
				</td>
			</tr>
		<!-- IF S_CAN_VOTE -->
			<tr>
				<td align="center"><span class="gensmall">{L_MAX_VOTES}</span><br /><br /><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="btnlite" /></td>
			</tr>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_RESULTS -->
			<tr>
				<td class="gensmall" colspan="4" align="center"><b>{L_TOTAL_VOTES}{L_COLON} {TOTAL_VOTES}</b></td>
			</tr>
		<!-- ELSE -->
			<tr>
				<td align="center" class="gensmall"><b><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></b></td>
			</tr>
		<!-- ENDIF -->
			</table>
			{S_HIDDEN_FIELDS}
			{S_FORM_TOKEN}
			</form>

		</td>
	</tr>
<!-- ENDIF -->
<!-- EVENT viewtopic_body_poll_after -->
	</table>

</td></tr></table>

<!-- BEGIN postrow -->	<!-- EVENT viewtopic_body_postrow_post_before -->
	<table width="100%" cellspacing="0"><tr><td width="19"></td><td><table class="tablebg" width="100%" cellspacing="1">	<!-- IF postrow.S_FIRST_ROW -->
		<tr>
			<th>{L_AUTHOR}</th>
			<th>{L_MESSAGE}</th>
		</tr>		<!-- ENDIF -->
	<!-- IF postrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

	<!-- IF postrow.S_POST_HIDDEN -->
			<td class="gensmall" colspan="2" height="25" align="center">
				<!-- IF postrow.S_FIRST_UNREAD --><a name="unread" class="anchor" data-url="{postrow.U_MINI_POST}"></a><!-- ENDIF -->
				<a name="p{postrow.POST_ID}" class="anchor"></a>
				<!-- IF postrow.S_POST_HIDDEN -->
					<!-- IF postrow.S_POST_DELETED -->
						{postrow.L_POST_DELETED_MESSAGE}
					<!-- ELSEIF postrow.S_IGNORE_POST -->
						{postrow.L_IGNORE_POST}
					<!-- ENDIF -->
					<br /><a href="{U_VIEW_TOPIC}&p={postrow.POST_ID}&view=show#p{postrow.POST_ID}">{L_DISPLAY}</a>
				<!-- ENDIF -->
			</td>
	<!-- ELSE -->

			<td align="center" valign="middle">
				<!-- IF postrow.S_FIRST_UNREAD -->
					<a name="unread" class="anchor"<!-- IF S_UNREAD_VIEW --> data-url="{postrow.U_MINI_POST}"<!-- ENDIF -->></a>
				<!-- ENDIF -->
				<a name="p{postrow.POST_ID}" class="anchor"></a>
				<!-- EVENT viewtopic_body_post_author_before -->
				<span class="normal"><!-- IF not postrow.U_POST_AUTHOR --><strong>{postrow.POST_AUTHOR_FULL}</strong><!-- ELSE -->{postrow.POST_AUTHOR_FULL}<!-- ENDIF --></span>
				<!-- EVENT viewtopic_body_post_author_after -->
			</td>
			<!-- EVENT viewtopic_body_postrow_post_details_before -->
			<!-- EVENT viewtopic_body_post_subject_before -->
			<td width="100%" height="25">
				<table width="100%" cellspacing="0">
				<tr>
				<!-- IF postrow.POST_ICON_IMG -->
					<td><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" title="{postrow.POST_ICON_IMG_ALT}" /></td>
				<!-- ENDIF -->
					<td width="100%"><table width="100%" cellspacing="0"><tr><td class="gensmall" align="{S_CONTENT_FLOW_BEGIN}"><b>{L_POST_SUBJECT}{L_COLON}</b> <a href="#p{postrow.POST_ID}">{postrow.POST_SUBJECT}</a></td><td class="gensmall" align="{S_CONTENT_FLOW_END}"><!-- IF S_IS_BOT --><img src="{T_THEME_PATH}/images/icon_post_target.gif" width="12" height="9" alt=""><!-- ELSE --><a<!-- IF postrow.S_UNREAD_POST --> title="{L_UNREAD_POST}"<!-- ENDIF --> href="{postrow.U_MINI_POST}"><img src="{T_THEME_PATH}/images/icon_post_target<!-- IF postrow.S_UNREAD_POST -->_unread<!-- ENDIF -->.gif" width="12" height="9" alt="<!-- IF postrow.S_UNREAD_POST -->+ <!-- ENDIF -->"<!-- IF postrow.S_UNREAD_POST --> title="{L_UNREAD_POST}"<!-- ENDIF -->></a><!-- ENDIF --><b>{L_POSTED}{L_COLON}</b> {postrow.POST_DATE}</td></tr></table></td>
				</tr>
				</table>
			</td>
			<!-- EVENT viewtopic_body_postrow_post_details_after -->
		</tr>

		<!-- IF postrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

			<td valign="top" class="profile">
				<table cellspacing="4" align="center" width="150"<!-- IF postrow.S_NUM_ROWS < 2 --> style="height: auto !important; _height: 90px"<!-- ENDIF -->>
			<!-- IF postrow.ONLINE_IMG -->
				<tr>
					<td class="postdetails"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/icon_user_<!-- IF postrow.S_ONLINE -->online<!-- ELSE -->offline<!-- ENDIF -->.gif" width="72" height="20" alt="<!-- IF postrow.S_ONLINE -->{L_ONLINE}<!-- ELSE -->{L_OFFLINE}<!-- ENDIF -->" title=""></td>
				</tr>
			<!-- ENDIF -->
			<!-- EVENT viewtopic_body_postrow_rank_before -->
			<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG -->
				<tr>
					<td class="postdetails">{postrow.RANK_TITLE}<!-- IF postrow.RANK_IMG --><img src="{postrow.RANK_IMG_SRC}" alt="" style="display:block"><!-- ENDIF --></td>
				</tr>
			<!-- ENDIF -->
			<!-- EVENT viewtopic_body_postrow_rank_after -->

			<!-- EVENT viewtopic_body_avatar_before -->
			<!-- IF postrow.POSTER_AVATAR -->
				<tr>
					<td><a class="nav" href="{postrow.U_POST_AUTHOR}">{postrow.POSTER_AVATAR}</a></td>
				</tr>
			<!-- ENDIF -->
			<!-- EVENT viewtopic_body_avatar_after -->

			<!-- IF not (postrow.ONLINE_IMG or postrow.RANK_TITLE or postrow.RANK_IMG or postrow.POSTER_AVATAR) -->
				<tr>
					<td></td>
				</tr>
			<!-- ENDIF -->
				</table>

				<div class="postdetails" style="width:150px; overflow:hidden; word-wrap: break-word;">

					<!-- IF postrow.POSTER_POSTS != '' --><b>{L_POSTS}{L_COLON}</b> <!-- IF postrow.U_SEARCH !== '' --><a title="{L_SEARCH_USER_POSTS}" href="{postrow.U_SEARCH}"><!-- ENDIF -->{postrow.POSTER_POSTS}<!-- IF postrow.U_SEARCH !== '' --></a><!-- ENDIF --><br /><!-- ENDIF -->
					<!-- IF postrow.POSTER_WARNINGS --><b>{L_WARNINGS}{L_COLON}</b> <b class="error">{postrow.POSTER_WARNINGS}</b><br /><!-- ENDIF -->
					<!-- IF postrow.POSTER_JOINED --><b>{L_JOINED}{L_COLON}</b> {postrow.POSTER_JOINED}<!-- ENDIF -->

					<!-- EVENT viewtopic_body_postrow_custom_fields_before -->
					<!-- BEGIN custom_fields -->
						<!-- IF not postrow.custom_fields.S_PROFILE_CONTACT -->
						<br /><b>{postrow.custom_fields.PROFILE_FIELD_NAME}{L_COLON}</b> {postrow.custom_fields.PROFILE_FIELD_VALUE}
						<!-- ENDIF -->
					<!-- END custom_fields -->
					<!-- EVENT viewtopic_body_postrow_custom_fields_after -->

					<!-- EVENT viewtopic_body_contact_fields_before -->
					<!-- IF not S_IS_BOT and .postrow.contact -->
						<br /><b>{L_CONTACT}{L_COLON}</b> <!-- BEGIN contact --><span class="nowrap"><a href="<!-- IF postrow.contact.U_CONTACT -->{postrow.contact.U_CONTACT}<!-- ELSE -->{postrow.U_POST_AUTHOR}<!-- ENDIF -->"<!-- IF postrow.contact.ID eq 'pm' or postrow.contact.ID eq 'email' --> title="{postrow.contact.NAME}"<!-- ENDIF --><!-- IF postrow.contact.ID eq 'jabber' --> onclick="popup(this.href, 750, 320); return false;"<!-- ENDIF -->><!-- IF postrow.contact.ID eq 'pm' -->{L_PM}<!-- ELSEIF postrow.contact.ID eq 'email' -->{L_EMAIL}<!-- ELSE -->{postrow.contact.NAME}<!-- ENDIF --></a><!-- IF not postrow.contact.S_LAST_ROW -->{L_COMMA_SEPARATOR}<!-- ENDIF --></span><!-- END contact -->
					<!-- ENDIF -->
					<!-- EVENT viewtopic_body_contact_fields_after -->

				</div>

			</td>
			<td valign="top">
				<table width="100%" cellspacing="5">
				<tr>
					<td>
					<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_DELETED or postrow.S_POST_REPORTED -->
						<table width="100%" cellspacing="0">
						<tr>
							<td class="gensmall">
								<!-- IF postrow.S_POST_UNAPPROVED --><span class="postapprove"><img src="{T_THEME_PATH}/images/icon_topic_unapproved.gif" width="19" height="18" alt="(?)"> <a href="{postrow.U_MCP_APPROVE}">{L_POST_UNAPPROVED}</a></span><br /> <!-- ENDIF -->
								<!-- IF postrow.S_POST_DELETED --><span class="postapprove"><img src="{T_THEME_PATH}/images/icon_topic_deleted.gif" width="14" height="14" alt="(X)"> <a href="{postrow.U_MCP_RESTORE}">{L_POST_DELETED}</a></span><br /> <!-- ENDIF -->
								<!-- IF postrow.S_POST_REPORTED --><span class="postreported"><img src="{T_THEME_PATH}/images/icon_topic_reported.gif" width="19" height="18" alt="(!)"> <a href="{postrow.U_MCP_REPORT}">{L_POST_REPORTED}</a></span><!-- ENDIF -->
							</td>
						</tr>
						</table>

						<br clear="all" />
					<!-- ENDIF -->

						<div class="postbody">{postrow.MESSAGE}</div>

					<!-- IF postrow.S_HAS_ATTACHMENTS -->
						<br clear="all" /><br />

						<table class="tablebg" width="100%" cellspacing="1">
						<tr>
							<td class="row3"><b class="genmed">{L_ATTACHMENTS}{L_COLON} </b></td>
						</tr>
						<!-- BEGIN attachment -->
							<tr class="postbody">
								<!-- IF postrow.attachment.S_ROW_COUNT is even --><td class="row2"><!-- ELSE --><td class="row1"><!-- ENDIF -->{postrow.attachment.DISPLAY_ATTACHMENT}</td>
							</tr>
						<!-- END attachment -->
						</table>
					<!-- ENDIF -->

					<!-- IF postrow.S_DISPLAY_NOTICE -->
						<span class="gensmall" style="color: #FF0000"><br /><br />{L_DOWNLOAD_NOTICE}</span>
					<!-- ENDIF -->
					<!-- IF postrow.SIGNATURE -->
						<div class="postbody"><br />_________________<br />{postrow.SIGNATURE}</div>
					<!-- ENDIF -->

					<!-- EVENT viewtopic_body_postrow_post_notices_before -->
					<!-- IF postrow.DELETED_MESSAGE or postrow.DELETE_REASON -->
						<!-- IF postrow.DELETE_REASON -->
							<br /><br />
							<table class="tablebg" width="100%" cellspacing="1">
							<tr>
								<td class="row3"><span class="gensmall">{postrow.DELETED_MESSAGE}</span></td>
							</tr>
							<tr>
								<td class="row2"><span class="genmed">{postrow.DELETE_REASON}</span></td>
							</tr>
							</table>
						<!-- ELSE -->
							<br /><br />
							<span class="gensmall">{postrow.DELETED_MESSAGE}</span>
						<!-- ENDIF -->
					<!-- ELSEIF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
						<!-- IF postrow.EDIT_REASON -->
							<br /><br />
							<table class="tablebg" width="100%" cellspacing="1">
							<tr>
								<td class="row3"><span class="gensmall">{postrow.EDITED_MESSAGE}</span></td>
							</tr>
							<tr>
								<td class="row2"><span class="genmed">{postrow.EDIT_REASON}</span></td>
							</tr>
							</table>
						<!-- ELSE -->
							<br /><br />
							<span class="gensmall">{postrow.EDITED_MESSAGE}</span>
						<!-- ENDIF -->
					<!-- ENDIF -->

					<!-- IF postrow.BUMPED_MESSAGE -->
						<span class="gensmall"><br /><br />{postrow.BUMPED_MESSAGE}</span>
					<!-- ENDIF -->
					<!-- EVENT viewtopic_body_postrow_post_notices_after -->

					<!-- EVENT viewtopic_body_postrow_post_content_footer -->

					<!-- IF not postrow.S_HAS_ATTACHMENTS --><br clear="all" /><br /><!-- ENDIF -->

						<table width="100%" cellspacing="0">
						<tr valign="middle">
							<td class="gensmall" align="{S_CONTENT_FLOW_END}">
							<!-- IF not S_IS_BOT -->
								<!-- IF postrow.U_REPORT --><a title="{L_REPORT_POST}" href="{postrow.U_REPORT}"><img src="{T_THEME_PATH}/images/icon_post_report.gif" width="20" height="20" alt="[!]" title="{L_REPORT_POST}"></a> <!-- ENDIF -->
								<!-- IF postrow.U_INFO --><a title="{L_POST_DETAILS}" href="{postrow.U_INFO}"><img src="{T_THEME_PATH}/images/icon_post_info.gif" width="20" height="20" alt="[?]" title="{L_POST_DETAILS}"></a> <!-- ENDIF -->
								<!-- IF postrow.U_WARN --><a title="{L_WARN_USER}" href="{postrow.U_WARN}"><img src="{T_THEME_PATH}/images/icon_user_warn.gif" width="20" height="20" alt="[O]" title="{L_WARN_USER}"></a> <!-- ENDIF -->
								<!-- IF postrow.U_DELETE --><a title="{L_DELETE_POST}" href="{postrow.U_DELETE}"><img src="{T_THEME_PATH}/images/icon_post_delete.gif" width="20" height="20" alt="[X]" title="{L_DELETE_POST}"></a> <!-- ENDIF -->
							<!-- ENDIF -->
							</td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>

		<!-- IF postrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

			<!-- EVENT viewtopic_body_postrow_back2top_before -->
			<td class="profile"><!-- EVENT viewtopic_body_postrow_back2top_prepend --><strong><a href="#top"><span class="gensmall">{L_BACK_TO_TOP}</span></a></strong><!-- EVENT viewtopic_body_postrow_back2top_append --></td>
			<!-- EVENT viewtopic_body_postrow_back2top_after -->
			<td>
<table width="100%" cellspacing="0"><tr><td align="{S_CONTENT_FLOW_BEGIN}" class="gensmall"><!-- IF postrow.U_POST_AUTHOR --><a title="{L_READ_PROFILE}{L_COLON} {postrow.POST_AUTHOR}" href="{postrow.U_POST_AUTHOR}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/icon_user_profile.gif" width="72" height="20" alt="[{L_READ_PROFILE}]" title="{L_READ_PROFILE}{L_COLON} {postrow.POST_AUTHOR}"></a> <!-- ENDIF -->
</td><td align="{S_CONTENT_FLOW_END}" class="gensmall"><!-- EVENT viewtopic_body_post_buttons_before -->
					<!-- IF not S_IS_BOT -->
						<!-- IF postrow.U_EDIT --><a title="{L_EDIT_POST}" href="{postrow.U_EDIT}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/icon_post_edit.gif" width="90" height="20" alt="[{L_BUTTON_EDIT}]" title="{L_EDIT_POST}"></a> <!-- ENDIF -->
						<!-- IF postrow.U_QUOTE --><a title="{L_REPLY_WITH_QUOTE}" href="{postrow.U_QUOTE}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/icon_post_quote.gif" width="90" height="20" alt="[{L_BUTTON_QUOTE}]" title="{L_REPLY_WITH_QUOTE}"></a><!-- ENDIF -->
					<!-- ENDIF -->
					<!-- EVENT viewtopic_body_post_buttons_after --></td></tr></table></td>
	<!-- ENDIF -->
		</tr>
	<!-- IF postrow.S_LAST_ROW and not S_IS_BOT -->
		<tr>
			<td class="cat" colspan="2">
				<form name="viewtopic" method="post" action="{S_TOPIC_ACTION}"><!-- INCLUDE display_options.html --></form>
			</td>
		</tr>
	<!-- ENDIF -->
		</table></td><td width="19"></td></tr></table>	<!-- EVENT viewtopic_body_postrow_post_after -->
<!-- END postrow --><table width="100%" cellspacing="0"><tr><td width="19"></td><td></td><td width="19"></td></tr><tr><td width="19"></td><td>	<!-- EVENT viewtopic_body_topic_actions_before -->

	<table width="100%" cellspacing="1">
	<tr>
		<td class="genmed" nowrap="nowrap" valign="top">

		<!-- EVENT viewtopic_buttons_bottom_before -->

		<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
			<a title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->" href="{U_POST_REPLY_TOPIC}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/button_topic_<!-- IF S_IS_LOCKED -->locked<!-- ELSE -->reply<!-- ENDIF -->.gif" width="97" height="27" alt="[<!-- IF S_IS_LOCKED -->{L_BUTTON_TOPIC_LOCKED}<!-- ELSE -->{L_BUTTON_POST_REPLY}<!-- ENDIF -->]" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"></a>
		<!-- ENDIF -->

		<!-- EVENT viewtopic_buttons_bottom_after -->
		
		<!-- EVENT viewtopic_dropdown_bottom_custom -->

		</td>

		<td class="gensmall" nowrap="nowrap" valign="middle"><!-- IF TOTAL_POSTS --><b>&nbsp;{PAGE_NUMBER}</b> &nbsp;[ {TOTAL_POSTS} ]&nbsp;<!-- ENDIF --></td>
		<td align="{S_CONTENT_FLOW_END}" class="gensmall" style="line-height: 220%" valign="top" width="100%"><b><a href="{U_VIEW_FORUM}" class="nowrap">{L_RETURN_TO_FORUM}</a></b><!-- IF .pagination --> | <!-- ENDIF --><!-- INCLUDE pagination.html --></td>
	</tr>
	</table>
</div>

<div id="pagefooter"></div>

<!-- IF S_QUICK_REPLY -->
</td></tr></table><table width="100%" cellspacing="0"><tr><td width="19"></td><td><!-- INCLUDE quickreply_editor.html --></td><td width="19"></td></tr></table><table width="100%" cellspacing="0"><tr><td width="19"></td><td></td><td width="19"></td></tr><tr><td width="19"></td><td>
<!-- ENDIF -->

<!-- EVENT viewtopic_body_footer_before -->

<table width="100%" cellspacing="0">
<tr>
	<td valign="top">
	<!-- IF .quickmod -->
		<form method="post" action="{S_MOD_ACTION}">
			<select name="action" id="quick-mod-select" title="{L_QUICK_MOD}">
				<!-- BEGIN quickmod -->
				<option value="{quickmod.VALUE}">{quickmod.TITLE}</option>
				<!-- END quickmod -->
			</select>
			<input class="btnlite" title="{L_QUICK_MOD}" type="submit" value="{L_GO}" />
		</form><br>
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><br><!-- ENDIF --></td>
	<td align="{S_CONTENT_FLOW_END}" valign="top"><!-- INCLUDE jumpbox.html --></td>
</tr>
</table>

<!-- IF S_DISPLAY_ONLINE_LIST -->

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><p class="genmed">{LOGGED_IN_USER_LIST}</p></td>
	</tr>
	</table>
<!-- ENDIF -->

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" /><!-- INCLUDE overall_footer.html -->
